<div class="body" >
	<footer class="mt-auto py-3" style="text-align: center;">
		<div class="Copyright">
			<span class="text-muted">Copyright © 2019 <a href="https://msameer234.github.io/">Samir Ahmad Malik</a> </span>
		</div>
		<div class="social">
			<ul style="list-style-type:none; ">
				<li><a href="https://www.facebook.com/msameer234"><i class="fab fa-lg fa-facebook"></i></a></li>
				<li><a href="https://www.github.com/msameer234"><i class="fab fa-lg fa-github"></i></a></li>
				<li><a href="https://www.linkedin.com/in/msameer234"><i class="fab fa-lg fa-linkedin"></i></a></li>
			</ul>
		</div>
	</footer>
</div>