<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: black; border: solid 1px; border-color: green;">
	<div style="font-weight: bold; "><a style="color: green;font-size: 30px;" class="navbar-brand" href="/" >&#991;&alpha;&Sigma;</a></div>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border-color: green; border: 2">
		<span style="color: green;"><b>More >></b></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			
				{% for item in site.data.navigation %}
				<li class="nav-item active" >
				<a class="nav-link" href="{{ item.link }}" {% if page.url == item.link %}style="font-weight: bold; color:white;"{% else %}style="color:green;"{% endif %} {% if item.name == "Resume" %}rel="noopener noreferrer" target="_blank"{% endif %} >{% if page.url == item.link %}<span class="sr-only">(current)</span>{% endif %}
					{{ item.name }}
				</a>
				</li>
				{% endfor %}
					
		</ul>
	</div>
</nav>
